<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('visualize') }}">Visualize Data</a></li>
                <li><a href="{{ url_for('view_financial_data') }}">View Financial Data</a></li>
                <li><a href="{{ url_for('financial_data') }}">Enter New Financial Data</a></li>
                <li><a href="{{ url_for('helpful_links') }}">Helpful Links</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>